//Colors
$black: #000;
$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.5);
$white-opacity1: rgba(255, 255, 255, 0.8);
$gray1: #cccccc;
$gray2: #dfdfdf;
$gray3: #333333;
$gray4: #cbcbcb;
$gray5: #9b9999;
$gray6: #8f8f8f;
$gray7: #828282;
$gray8: #4e4c4c;
$gray9: #666262;
$gray10: #808080;
$gray11: #efefef;
$brown1: #666262;
$brown2: #595656;
$brown3: #5f5b5b;
$green: #88cb6b;
$pale-green: #87b672;

//Awesome
$fa-facebook: "\f09a";
$fa-twitter: "\f099";
$fa-rss: "\f09e";
$fa-left-circle: "\f137";
$fa-right-circle: "\f138";
$fa-search: "\f002";
$fa-dollar: "\f155";
$fa-menu: "\f0c9";
$fa-right-open: "\f105";
$fa-close: "\f00d";
